<div class="affiliation-logos-label">Affiliated with &amp; supported by</div>
<div class="affiliation-logos">
  <a href="https://www.unicamp.br" target="_blank" rel="noopener"><img src="{{ "media/logos/unicamp.png" | relURL }}" alt="Unicamp"></a>
  <a href="https://www.iqm.unicamp.br" target="_blank" rel="noopener"><img src="{{ "media/logos/iq_unicamp.png" | relURL }}" alt="Instituto de Química, Unicamp"></a>
  <a href="https://fapesp.br" target="_blank" rel="noopener"><img src="{{ "media/logos/fapesp.png" | relURL }}" alt="FAPESP"></a>
  <a href="https://cces.unicamp.br" target="_blank" rel="noopener"><img src="{{ "media/logos/cces_black.png" | relURL }}" alt="CEPID/CCES"></a>
</div>
